.flags-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: silver;
}

body {
  text-align: center;
  justify-content: center;
  background-color: silver;
}
