.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh; 
}
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.dash {
  font-size: 24px;
  margin-right: 5px;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #4286f4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

input {
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="password"] {
  font-family: monospace;
}

.result {
  margin-top: 20px;
  font-size: 20px;
}
